extends layout
append styles
	link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/css/bootstrap-slider.min.css", rel='stylesheet')
append scripts
	script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/bootstrap-slider.min.js')
	script.
		$('input.slider').slider({
			formatter: function(value) {
				return value + "/10";
			}
		});

mixin event(parent,title,value,expanded)
	-var id = title.replace(/\s+/g,"")
	+accordion-item-primary(title,parent ,expanded)
		p  Soirée ce soir ?
		div(style='text-align: center;')
			| Envie : 
			input.slider(style="width: 85%;", data-slider-id=id+'Slider', type='text', data-slider-ticks="[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]", data-slider-value=value )

block content
	.jumbotron
		p
			| Hi there, #{user.name.givenName} ! This site is under construction. Sry, soab.
	.page-header


	
	+accordion("sample")
		+event("sample","Apero 1",3,true)
		+event("sample","Murge",6,true)
		+event("sample","Weekend Ovalies",10,true)
		+event("sample","Soirey posey",1,false)
