extends layout
append styles
	link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/css/bootstrap-slider.min.css", rel='stylesheet')
append scripts
	script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/bootstrap-slider.min.js')
	script.
		$('input.slider').slider({
			formatter: function(value) {
				return value + "/10";
			}
		});

mixin event(parent,event,expanded)
	+accordion-item-primary(event.title + " - " + event.author.displayName,parent ,expanded)
		div 
			+img-rounded("https://graph.facebook.com/v2.9/" + event.authorUserid + "/picture", event.author.displayName) event.author.displayName
			div(style="display: inline-block; padding: 1em;")
				strong= event.author.displayName + " : "
				=event.description
		div(style='text-align: center;')
			| Envie : 
			input.slider(style="width: 85%;", data-slider-id=event.id+'Slider', type='text', data-slider-ticks="[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]", data-slider-value=1 )

block content
	.jumbotron
		p
			| Hi there, #{user.name.givenName} ! This site is under construction. Sry, soab.
	.page-header

	+accordion("events")
		each event in events
			+event("events",event,true)