extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
	link(href='../stylesheets/navbar.css', rel='stylesheet')
	link(href='../stylesheets/style.css', rel='stylesheet')
block body
	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			include nav
	.container.theme-showcase(role='main')
		block content
	div(id="fb-root")
append scripts
	script.
		window.fbAsyncInit = function() {
			FB.init({
				appId				: #{fb_api_key},
				status			: true,
				cookies			: true,
				xfbml				: true,
				version: 'v2.9'
			});
		};
		// Load the SDK Asynchronously
		(function(d){
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/fr_FR/all.js";
			ref.parentNode.insertBefore(js, ref);
		}(document));