mixin navlink(url,name)
	li(id='nav'+name)&attributes(attributes)
		a(href=url) #{name}
a.navbar-brand(href='#') Apero !
#navbar.navbar-collapse.collapse
	ul.nav.navbar-nav
		+navlink('#','Home')(class='active')
		+navlink('#about','About')
		+navlink('#contact','Contact')